<!--===== BREADCROUMB AREA =====-->
        <div class="lite-breadcroumb-area" data-stellar-background-ratio="0.6" style="background-image: url(/assets/blog-bg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>List of  blogs</h1>
                        <div class="breadcroumb">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===== SINGLE POST AREA =====-->
        <div class="blog-area">
           <div class="container">
               <div class="row">
                   <div class="col-md-8">
                       <div class="single-post-details">
                            <% @blogs.each do |blog| %>
                           <a href="<%=blog_path%>"><h2><%= blog.title %></h2></a>
                           <div class="entry-content">
                               <p style="text-align: justify;"><%=blog.text.html_safe%></p>
                             <a class="read-more-btn" href="<%= blogs_path(blog) %>">Show</a>
                             <a class="read-more-btn" href="<%= edit_blog_path(blog) %>">Edit</a>
                             <%= link_to('Delete', blog_path(blog), method: :delete,class: "read-more-btn") %>
                           </div>
                           <%end%>
                       </div>
                   </div>
               </div>
           </div>
        </div>
     
     



