

        <!--====== CONTACT INFO AREA ======-->
        <div id="contact" class="contact-info-area section-padding">
            <div class="container">


                <div class="row"  >


                    <div class="col-md-8 col-md-offset-2">
                        <h2>Create new Blog</h2>
                        <br>

                        <div class="contact-form-a  rea">
                            <%= form_for @blog,html: { multipart: true } do |f| %>

                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">

                                                <div class="form-group">
                                                    <%= f.label :image %>
                                                    <%= f.file_field :image, class: 'form-control' %>
                                                </div>
                                                <input  id="form_name" type="text" name="blog[title]" class="form-control" placeholder="Title" required="required" data-error="Name is required." >
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>

                                    </div> <!--/.row-->

                                    </div> <!--/.row-->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group text-area">
                                                 <%= f.cktext_area :text %>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div> <!--/.row-->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group text-area">
                                              <input type="date" name="blog[date_blog]" value="<%=Date.today%>" id="blog_date_blog" style="width: 300px; text-align: center; background-color: gainsboro; color: black;"><br>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div> <!--/.row-->


                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="submit" class="filled-btn" value="Post Blog">
                                        </div>
                                    </div> <!--/.row-->
                                </div>
                            <%end%>
                        </div>
                    </div>

                    <br>
                    <br>
                    <br>
                </div> <!--/.row-->
            </div><!--/.container-->
        </div>
