



<!--======= HOME AREA =======-->
        <div id="home" class="lite-parallax-image-area" data-stellar-background-ratio="0.6" style="background-image: url(/assets/parallax-bg.jpg); height:300px">
            <div class="slide-item-table">
                <div class="slide-item-tablecell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="slide-content">
                                    <h2 class="tittle">Welcome to  <span style="color:rgb(1, 123, 251)">C<i class="fa fa-cog fa-spin" style="font-size: 40px;"></i>DE GARAGE</span></h2>
                                    <p style="color:gainsboro">We Build Valuable Solutions With Code</p>
                                    <p style="color:gainsboro">We guarantee you’ll be delighted with what we can do for you!<p></p>

                                </div>
                            </div>
                        </div> <!--/.row-->
                    </div> <!--/.container-->
                </div>
            </div>
        </div>
        <%# if flash[:notice]=="successfull" %>
           <script>
          //     $.notify("Thanks for contacting us. We will contact you shortly.", "success");
          // </script>
        <%#end%>

        <!--===== SERVICE AREA =====-->
        <div id="service" class="lite-service-area section-padding">
            <div class="container">
                <!--  -->
                 <div class="row">
                    <div class="col-md-12" >
                      <div class="section-title text-center" style="    line-height: 11px;">
                           <h1 style="font-size:42px;"> Ruby on Rails Development Company - Hire ROR experts in Mohali</h1>
                           <h2 style="text-align: center; font-size: 21px;padding-bottom: 0px;"><b>Best Website Development company in Mohali, india - Web & mobile App development Creative Team</b></h2>
                           <span class="border-center"></span>
                           <p style="text-align: justify;">We at Code Garage Tech is a dedicated team of ROR experts in Mohali ( India) that ensure you to offer the most valuable code in form of a software or a website and will turn your ideas into reality. Code Garage Tech Organization situated in Mohali which deals with ruby on rails web development and other web application like custom PHP web application development, Wordpress, Android, Ruby on Rails, SEO Optimization and Node JS. Etc that ensures the user satisfaction. We combine our solid business technical expertise, domain experience, knowledge of latest industry trends and quality-driven work model to offer growing end-to-end web application solutions.</p><br>
                           <p style="text-align: justify;">Our website development professionals recognize the value of solid information architecture design and integrative branding that engages the customer from the first stop at your site. We are Just a firmly incorporated group with exceptionally learned developers can convey in high caliber at the speed you require. We are flexible in timings. We believe in the long-term relationship between your business and our duty. </p><br>

                       </div>
                    </div>
                </div> <!--/.row-->
                <!--  -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-service wow fadeInUp" data-wow-delay="0.2s">
                            <img src="/assets/service/2.png" alt="">
                            <h3>Web Development</h3>
                            <p style="text-align: justify;">Varied web improvement needs? At Code Garage Tech, we have the experience and aptitude to deal with all! From customized application development, offshore web development services to database management solutions using PHP, ROR, WordPress, Node js, we give full scope With us, you'll unquestionably appreciate the business stage you've generally wanted! </p>
                         </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-service wow fadeInUp" data-wow-delay="0.4s">
                            <img src="/assets/service/4.png" alt="">
                            <h3>App Development</h3>
                            <p style="text-align: justify;">Code Garage Tech is a leading provider of iPhone applications that takes pride in conveying exceptionally powerful and far-reaching applications, uncommonly custom fitted to cook the requirements of different industry verticals. We are devoted to giving class app designing services in India and are glad to have an immense base of offshore and domestic customers. </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-service wow fadeInUp" data-wow-delay="0.6s">
                            <img src="/assets/service/5.png" alt="">
                            <h3>SEO Optimization</h3>
                            <p style="text-align: justify;">Achieve new heights with our unmatched Search Engine Optimization Services. In two decades, Code Garage Tech has delivered an impeccable record as one of the best Search Engine Optimization organization. We don't dimension on any quality of value. Our unparalleled Search Engine Optimization administrations will without a doubt get you noticed globally!  </p>
                        </div>
                    </div>
                </div> <!--/.row-->
            </div> <!--/.container-->
        </div>


      <!--============= project-section-->

      <section class="project-section-work">
        <div class="container-fluid">
            <div class="section-title text-center">
                <h2>Our Recent Work</h2>
                <span class="border-center"></span>
            </div>
            <div class="row">
                <div class="image-gallery">
                    <div class="image-column col-md-4 col-sm-6 col-xs-12">
                        <div class="image-box">
                            <figure>
                                <a href="<%=work_project_detail_ucview_path%>"><img src="/assets/ucview.png" ></a>
                            </figure>
                            <div class="image-text">
                                <a href="<%=work_project_detail_ucview_path%>"><h5>UCVIEW</h5></a>
                                <span>Signage Software</span>
                                <a href="<%=work_project_detail_ucview_path%>"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="image-column col-md-4 col-sm-6 col-xs-12">
                        <div class="image-box">
                            <figure>
                                <a href="<%=work_project_detail_welcomeai_path%>"><img src="/assets/welcomeai.png" height="202px" ></a>
                            </figure>
                            <div class="image-text">
                                <a href="<%=work_project_detail_welcomeai_path%>"><h5>Welcome.ai</h5></a>
                                <span>Artificial Intelligence</span>
                                <a href="<%=work_project_detail_welcomeai_path%>"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="image-column col-md-4 col-sm-6 col-xs-12">
                        <div class="image-box">
                            <figure>
                                <a href="<%=work_project_detail_markets_world_path%>"><img src="/assets/maketing.png" ></a>
                            </figure>
                            <div class="image-text">
                                <a href="<%=work_project_detail_markets_world_path%>"><h5>MARKETS WORLD</h5></a>
                                <span>Marketing</span>
                                <a href="<%=work_project_detail_markets_world_path%>"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="link-btn text-center"><a href="project-details.html" class="btn-style-one">load more</a></div> -->
        </div>
    </section>





       <!--====== FEATURE AREA ======-->
        <div class="lite-feature-area section-padding" style="padding-bottom: 10px;">
            <div class="container">
               <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <div class="section-title text-center">
                           <h2>Our Working Area</h2>
                           <span class="border-center"></span>
                           <p style="text-align: justify;"></p>
                       </div>
                    </div>
                </div> <!--/.row-->

                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-feature wow fadeInUp" data-wow-delay="0.2s"  >
                           <img alt="Icon" src="/assets/rails" style="width: 50px; height: 50px;" />
                            <h3>Ruby on Rails</h3>
                            <p style="text-align: justify;"> Code Garage Tech is a leading provider of iPhone applications that takes pride in conveying exceptionally powerful and uncommonly custom fitted to cook the requirements of different industry verticals. We are devoted to giving class app designing services in India </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                       <div class="single-feature wow fadeInUp" data-wow-delay="0.4s">
                           <img alt="Icon" src="/assets/android" style="width: 50px; height: 50px;" />
                            <h3>Android</h3>
                            <p style="text-align: justify;">We are Specialize in speed. Get your Mobile apps ready in minimum time span. We Offer Custom Android App Development Services For Businesses and Startups To Engage Users Effectively. Best Android Application Development Company for Custom Android Mobile Apps.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-feature wow fadeInUp" data-wow-delay="0.6s">
                           <img alt="Icon" src="/assets/seo" style="width: 50px; height: 50px;" />
                            <h3>SEO Optimization</h3>
                            <p style="text-align: justify;">In the regularly changing universe of search engine optimization, one goal stays consistent: traffic. The higher a site ranks on a search engine comes about page as observed by a client, the more activity the site will receive.We are specialists in SEO, SMO, ORM, PPC</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-feature wow fadeInUp" data-wow-delay="0.8s">
                           <img alt="Icon" src="/assets/nodejs" style="width: 50px; height: 50px;" />
                            <h3>Node JS</h3>
                            <p style="text-align: justify;">We are aware of latest updates of Node JS, an open source JavaScript platform. Hire a dedicated team of NodeJS Developers from Code Garage Tech, for Mobile or web applications as well as module development. Our developers will deliver you outstanding Nodejs development services.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-feature wow fadeInUp" data-wow-delay="1.0s">
                           <img alt="Icon" src="/assets/industry" style="width: 50px; height: 50px;" />
                            <h3>Indisturial Training</h3>
                            <p style="text-align: justify;">The premier Code carport Tech takes pride in presenting exhaustive training programs for students having a place with different divisions. The six months/Weeks industrial training at our Chandigarh based establishment institute with excellent course works.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-feature wow fadeInUp" data-wow-delay="1.2s">
                           <img alt="Icon" src="/assets/php" style="width: 50px; height: 50px;" />
                            <h3>PHP/Wordpress</h3>
                            <p style="text-align: justify;">We have best developers in our team who are expert in PHP and Wordpress. We Deal With Top-Notch Quality WordPress Web Development At Affordable Rates! Get custom WordPress cms development service for migration, plugin development at a reasonable cost </p>
                        </div>
                    </div>
                </div> <!--/.row-->
            </div> <!--/.container-->
        </div>

        <!--====== CTA AREA ======-->
        <div class="lite-cta-area" style="padding: 10px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 wow fadeInLeft" data-wow-delay="0.2s">
                        <h3>We have got best Ruby on Rails developers ever!</h3>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="cta-btn">
                           <a class="bordered-btn" href="<%=contact_path%>">Contact us now</a>
                        </div>
                    </div>
                </div> <!--/.row-->
            </div> <!--/.container-->
        </div>

         <!--==== TESTIMONIAL AREA =====-->
        <div id="testimonial" class="lite-testimonial-area section-padding">
            <div class="container">
               <div class="row">
                   <div class="col-md-8 col-md-offset-2">
                       <div class="section-title text-center">
                           <h2>Our Client loves</h2>
                           <span class="border-center"></span>
                           <p style="text-align: justify;">  </p>
                       </div>
                   </div>
               </div> <!--/.row-->

                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-list">
                            <div class="single-testimonial">
                                <div class="testimonial-author">
                                    <div class="testimonial-image">
                                      <img src="/assets/image.png" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <div class="testimonial-text">
                                       <p style="text-align: justify;">"One of the best developers I have ever worked with.I would highly recommend Paras on any project,he is passionate about his work."</p>
                                       <h3 class="testimonial-autohr-info">-JD Leon</h3>
                                   </div>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="testimonial-author">
                                    <div class="testimonial-image">
                                        <img src="/assets/image.png" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <div class="testimonial-text">
                                       <p style="text-align: justify;">"Best rails developer you can find! Reliable and fast, I can only recommend!Communication is good and with 100% commitment."</p>
                                       <h3 class="testimonial-autohr-info">-Martin S.</h3>
                                   </div>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="testimonial-author">
                                    <div class="testimonial-image">
                                        <img src="/assets/image.png" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <div class="testimonial-text">
                                       <p>"Great developers to work with, very diligent in getting the work right and a very good communicator. I would highly recommend him."</p>
                                       <h3 class="testimonial-autohr-info">-Sean Allaband</h3>
                                   </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- / row -->
            </div> <!--/.container-->
        </div>


        <!--====== BLOG AREA ========-->
        <div id="blog" class="lite-blog-area section-padding" style="padding-bottom: 10px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center">
                           <h2>Our latest blogs</h2>
                           <span class="border-center"></span>
                           <p>Check out our Latest Posts</p>
                        </div>
                    </div>
                </div> <!--/.row-->

                <div class="row">
                  <% @blogs.each do |blog|%>
                    <div class="col-sm-4">

                        <div style="padding: 0px 0px 22px;">
                            <%=link_to blog_path(blog) do%>
                            <%if blog.image.present?%>

                              <img src="<%=blog.image.url%>"  height="300px" style="display: block;"  alt="">
                            <%else%>
                              <img src="/assets/blog/blog3.jpg" height="300px" style="display: block;"  alt="">
                            <%end%>
                            <div class="post-content">
                            <%end%>
                            <%url_suffix = blog.slug || blog.id%>

                                <h3><a href="blogs/<%= url_suffix %>"> <%=blog.title%></a></h3>
                                <p class="blog-post-date">
                                  <% if blog.date_blog.present?%>
                                    <span style="color:grey">Posted at:<%= blog.date_blog.to_time.strftime(' %e  %B %Y ')  %></span>
                                  <%end%>
                                </p>
                              <!--<div><%#= blog.text.html_safe.truncate_words(200)%>
                              </div>--!>
                               <!--  <a class="read-more-btn" href="<%=blog_path(blog)%>">Read More</a> -->
                            <a class="read-more-btn" href="blogs/<%= url_suffix %>">Read More</a>
                            </div>
                        </div>
                    </div>
                    <%end%>
                </div>
                <div class="row">
                   <a href="https://www.google.ca/maps/place/Code+Garage+Tech/@30.7093436,76.7068689,18z/data=!4m12!1m6!3m5!1s0x390feef5abae9e3b:0xc4afa2dfe63d6ed6!2sCode+Garage+Tech!8m2!3d30.708872!4d76.706823!3m4!1s0x390feef5abae9e3b:0xc4afa2dfe63d6ed6!8m2!3d30.708872!4d76.706823"> <img src="/assets/map_new.jpg"   class="img-responsive" alt=""></a>
                   <br>
                </div>

                 <!--/.row -->
            </div> <!--/.container -->
        </div>



         <!--===== GOOGLE MAP AREA ======-->



       <!--
       <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d54885.42221558016!2d76.706823!3d30.708871999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4afa2dfe63d6ed6!2sCode+Garage+Tech!5e0!3m2!1sen!2sin!4v1507569957654" width="600" height="450" frameborder="0" style="border:0; width:100%" allowfullscreen></iframe>
     -->

       <!--===== GOOGLE MAP AREA ======-->
